.container{
    height: max-content;
    align-items: center;
    background-color: #744323;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    padding: 10px 0;
    font-weight: 500;
}
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phoneIcon{
    color: white;
    font-size: 18px;
    margin-right: 8px;
}
.phoneLink{
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.text{
    color: white;
    font-weight: 500;
}